extends base

block content
  .user
    .user-nav
      a.user-nav-link(href="#")
        i.fa-solid.fa-gear.user-nav-link__icon
        | Settings
      a.user-nav-link(href="#")
        i.fa-solid.fa-bag-shopping.user-nav-link__icon
        | Orders
      a.user-nav-link(href="#")
        i.fa-solid.fa-star.user-nav-link__icon
        | Reviews
      a.user-nav-link(href="#")
        i.fa-solid.fa-wallet.user-nav-link__icon
        | Billing
    .user-content.flex-fix
      .user-content-profile
        img.user-content-profile_picture(src="/img/users/hrishee.jpg" alt="your profile picture")
        input.form__upload(type="file" name="photo" id="photo")
        label(for="photo")
          i.fa-solid.fa-user-pen.profile-edit__icon
          | Edit picture
        button.btn.profile-save__btn Save settings

      .user-content-edit
        .user-content-edit-details
          h2.form-heading Your account settings
          form.form
            .form_group
              label.form_label(for="name") Name
              input#name.form_input(type="text" value="Hrishee Prajapati")
            .form_group
              label.form_label(for="email") Email Address
              input.form_input(type="email" placeholder="example@gmail.com")

        .user-content-edit-password
          h2.form-heading Password change
          form.form
            .form_group
              label.form_label(for="current-password") Current password
              input#current-password.form_input(type="password" placeholder="........")
            .form_group
              label.form_label(for="new-password") New password
              input#new-password.form_input(type="password" placeholder="........")
            .form_group
              label.form_label(for="confirm-password") Confirm password
              input#confirm-password.form_input(type="password" placeholder="........")
