extends base

block content
  section#cart.section-p1
    table(width="100%")
      thead
        tr
          td Remove
          td Image
          td Product
          td Price
          td Quantity
          td Subtotal
      tbody#cart-body
      tfoot
        tr
          td(colspan="5") Total
          td#cart-total Rs. 0
        tr
          td(colspan="6")
            a.checkout-btn(href="#", role="button") Checkout
